{% extends 'common/base.html' %}

{% block content %}
<h2>Books app</h2>

<div style="display: flex; justify-content: space-around;">
  <div>
    <a href="{% url 'app:add_book' %}" class="btn btn-primary">Add Book</a>
  </div>
  <div>
    <button class="btn btn-info task_btn">Add celery Task</button>
  </div>
</div>

<div class="row">
  {% for book in books %}
  <div class="col-xs-12 col-sm-6 col-md-3 col-xl-4">
    <h2>{{book.name}}</h2>
    <img src="{{book.cover_image.url}}" alt="" class="img-fluid">
    <p>{{book.description}}</p>
    <p>{{book.pages}}</p>
    <p>{{book.pages}}</p>
    <p>{{book.created_at}}</p>
  </div>
  {% endfor %}
</div>


{% endblock content %}

{% block extra_scripts %}
<script>

  $('.task_btn').on('click', function () {
    $.ajax({
      url: '{% url "app:trigger_celery_task" %}',
      method: 'GET',
    })
      .done((res) => {
        alert(JSON.stringify(res) + " new task added to que!!, check celery logs")
      })
      .fail((err) => {
        console.log(err);
      });
  });


</script>
{% endblock extra_scripts %}